{% extends 'base2.html' %}

{% load insta_tag %}
{% load static %}
 
{% block content %}

<link rel="stylesheet" href="{% static 'css/post.css' %}">

<b><div align="right"><a id="link_color1" href="{% url 'insta:follow_user' %}">DM</a></div></b>
<hr>

{% for post in post_list %}

<article class="post">
    <h1 class="left">
        <a id="link_color1" href="{% url 'insta:user_page' post.user.id %}">@{{ post.user.username }}</a>
    </h1>
    <img class="center" src="{{ post.image.url }}" />

    <form action="{% url 'insta:like' post.id %}" method="post" class="like">
        {% csrf_token %}
        {{ post.like_user.all | length }}
        <input type="submit" value="LIKE">
    </form>

    <form action="{% url 'insta:bookmark' post.id %}" method="post" class="bookmark" >
        {% csrf_token %}
        {{ post.bookmark_user.all | length }}
        <input type="submit" value="BOOKMARK">
    </form>

    <div  class="caption" align="left">
        <div>@{{ post.user.username }}</div>
        <div>{{ post.caption | linebreaksbr | remove_tag }}</div>
        <div>
            {% for tag in post.tags.all %}
            <a id="link_color1" href="{% url 'insta:post_tag' tag.id %}">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="created_at" >{{ post.created_at }}</div>
    <div class="left">
        <a id="link_color1" href="{% url 'insta:post_chat' post.user.id %}">CHAT</a>
    </div>
</article>

<br>
{% endfor %}

<hr>

<div class="pagination">
    {% if page_obj.has_previous %}
        <a id="link_color1" href="?page={{ page_obj.previous_page_number }}">前のページへ</a>
    {% endif %}

    {% for link_page in page_obj.paginator.page_range %}
        {% if link_page == page_obj.number %}
            <span>{{ link_page }}</span>
        {% else %}
            <a id="link_color1" href="?page={{ link_page }}">{{ link_page }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a id="link_color1" href="?page={{ page_obj.next_page_number }}">次のページへ</a>
    {% endif %}
</div>

{% endblock %}