{% extends 'base2.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<h1 align="center"><b>MYPAGE</b></h1>

<br>

<div class="left">

    <div class="box1">
        {% if request.user.bio %}
            <img width="300" src="{{ user.bio.url }}" />
        {% else %}
            <img width="300" src="/media/user.png" />
        {% endif %}
    </div>

    <div class="box1">
        {{ follow_list | length }} follow
        {{ follower_list | length }} follower
    </div>

    <br>

    <div class="box1">
        {{ user.username }}
        <br>
        {{ user.profile }}
    </div>
</div>

<div class="box2"><a class="link_color1" href="{% url 'insta:my_page_update' %}">プロフィールを編集する</a></div>
<div class="box2"><a class="link_color1" href="{% url 'insta:bookmark' %}">BOOKMARK</a></div>

<hr>

<article>

{% for post in post_list %}
    <a id="flex" href="{% url 'insta:user_page' post.user.id %}"><img src="{{ post.image.url }}"/></a>
{% endfor %}

</article>

{% endblock %}