{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">

<div><a class="link_color1" href="{% url 'insta:top' %}"><b>BACK</b></a></div>

<hr>

<article class="post">
    <h1 class="left">@{{ post.user.username }}</h1>

    <img class="center" src="{{ post.image.url }}" />
    <div class="caption" align="left">{{ post.caption }}</div>
    <div class="created_at">{{ post.created_at }}</div>
    <div class="right"><a href="{% url 'insta:post_delete' post.id %}">DELETE</a></div>

</article>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">送信</button>
</form>

    <hr>

    {% for chat in chat_list %}
    <article>
        <div>@{{ chat.user.username }}</div>
        <div>{{ chat.comment }}</div>
        <div>{{ chat.created_at }}</div>

        <hr>

        {% for reply in chat.reply_set.all %}
        <div style="margin-left:20px">
            <div>@{{ reply.user.username }}</div>
            <div>{{ reply.comment }}</div>
            <div>{{ reply.created_at }}</div>
        </div>
        <hr>
        {% endfor %}

        <div><a class="link_color1" href="{% url 'insta:post_reply' post.id %}">返信する</a></div>

<br>

{% endfor %}


{% endblock %}