{% extends 'base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">

<div><a class="link_color1" href="{% url 'insta:post_chat' chat.id %}"><b>BACK</b></a></div>

<hr>

<article>
    <div>@{{ chat.user.username }}</div>
    <div>{{ chat.comment }}</div>
    <div>{{ chat.created_at }}</div>

    <hr>

    {% for reply in chat.reply_set.all %}
    <div style="margin-left:20px">
        <div>@{{ reply.user.username }}</div>
        <div>{{ reply.comment }}</div>
        <div>{{ reply.created_at }}</div>
    </div>
    <hr>
    {% endfor %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">送信</button>
    </form>

</article>

{% endblock %}