{% extends 'base2.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">

<form method="GET" align="center">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">送信</button>
</form>

<hr>

{% for post in post_list %}
    <a href="{% url 'insta:user_page' post.user.id %}"><img src="{{ post.image.url }}" /></a>

{% endfor %}


<hr>

{% if page_obj.has_previous %}
    <a class="link_color" href="?page={{ page_obj.previous_page_number }}">前のページへ</a>
{% endif %}

{% for link_page in page_obj.paginator.page_range %}
    {% if link_page == page_obj.number %}
        <span>{{ link_page }}</span>
    {% else %}
       <a class="link_color" href="?page={{ link_page }}">{{ link_page }}</a>
    {% endif %}
{% endfor %}

{% if page_obj.has_next %}
    <a class="link_color" href="?page={{ page_obj.next_page_number }}">次のページへ</a>
{% endif %}

{% endblock %}