{% extends 'base2.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/post.css' %}">
<h1 align="center">{{ user.username }} PAGE</h1>

<br>

<div class="left">
    <div class="box1">
        {% if user.bio %}
            <img width="300" src="{{ user.bio.url }}" />
        {% else %}
            <img width="300" src="/media/user.png" />
        {% endif %}
    </div>

    <div class="box1">
        <form action="{% url 'insta:user_page' user.id %}" method="post">
            {% csrf_token %}
            {{ user.follower.all | length }}
            <input type="submit" value="FOLLOW">
        </form>

        <div>
            {{ user.username }}
            <br>
            {{ user.profile }}
        </div>
    </div>
</div>

<hr class="box2">

<article>

{% for post in post_list %}
    <a class="box2" href="{% url 'insta:user_page' post.user.id %}"><img src="{{ post.image.url }}"/></a>
{% endfor %}

</article>

{% endblock %}