<!DOCTYPE html>
{% load static %}
<html lang="ja">

<head>
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
    <meta charset="UTF-8">

    <title>{% block title %}NEKO-STAGRAM{% endblock %}</title>
</head>

<body id="body2">

    <nav>
        <ul class="base">
            <li class="baseA">
                <div align="left" class="login_color"><b>{{ request.user.username }}：ログイン中</b></div>
            </li>

            <li>
                <div class="baseA">
                    {% if request.user.is_authenticated %}
                        <a class="link_color" href="{% url 'accounts:logout' %}"><b>LOGOUT</b></a>
                    {% else %}
                        <a class="link_color" href="{% url 'accounts:accounts_create' %}"><b>新規作成</b></a>
                        <a class="link_color" href="{% url 'accounts:login' %}"><b>LOGIN</b></a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </nav>

    <main>
    {% block content %}{% endblock %}
    </main>
</body>
</html>