<!DOCTYPE html>

{% load static %}
<html lang="ja">
<head>
    <link rel="stylesheet" href="{% static 'css/basic.css' %}?a=1" />
    <meta charset="UTF-8">

    <title>{% block title %}NEKO-STAGRAM{% endblock %}</title>

</head>
<body id="body1">

    <nav>
        <div class="container">
            <ul id="nav_left">
                <li class="left-menu">
                    <div align="left" class="login_color"><b>{{ user.username }}：ログイン中</b></div>
                </li>
            </ul>

            <ul id="nav_center">
                <li><a class="main-contents link_color" href="{% url 'insta:top' %}"><b>TOP</b></a></li>
                <li><a class="main-contents link_color" href="{% url 'insta:search' %}"><b>SEARCH</b></a></li>
                <li><a class="main-contents link_color" href="{% url 'insta:post_create' %}"><b>CREATE</b></a></li>
                <li><a class="main-contents link_color" href="{% url 'insta:my_page' %}"><b>MYPAGE</b></a></li>
            </ul>

            <ul id="nav_right">
                <li class="right-menu">
                <div>
                    {% if user.is_authenticated %}
                    <a  class="link_color" href="{% url 'accounts:logout' %}"><b>LOGOUT</b></a>
                    {% else %}
                    <a  class="link_color" href="{% url 'accounts:accounts_create' %}"><b>新規作成</b></a>
                    <a  class="link_color" href="{% url 'accounts:login' %}"><b>LOGIN</b></a>
                    {% endif %}
                </div>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}
</body>
</html>