<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <nav align="right">
        {% if user.is_authenticated %}
            <a href="{% url 'accounts:logout' %}">LOGOUT</a>
        {% else %}
            <a href="{% url 'accounts:accounts_create' %}">新規作成</a>
            <a href="{% url 'accounts:login' %}">LOGIN</a>
        {% endif %}
    </nav>

    <hr>

    <title>{% block title %}NEKO-STAGRAM{% endblock %}</title>

</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>